body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:52px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:143px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:229px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:387px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:306px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:533px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:461px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:602px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:709px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:54px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:229px;
  width:181px;
  height:54px;
  color:#FFFFFF;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:177px;
  word-wrap:break-word;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:54px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:588px;
  width:181px;
  height:54px;
  color:#FFFFFF;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:177px;
  word-wrap:break-word;
}
