body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:100px;
  height:60px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:200px;
  width:100px;
  height:60px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:823px;
  width:100px;
  height:60px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:613px;
  width:100px;
  height:60px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:420px;
  width:100px;
  height:60px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:713px;
  width:100px;
  height:60px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:160px;
  width:0px;
  height:0px;
}
#u237_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u237_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:260px;
  width:0px;
  height:0px;
}
#u238_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u238_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:480px;
  width:0px;
  height:0px;
}
#u239_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u239_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:673px;
  width:0px;
  height:0px;
}
#u240_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u240_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:773px;
  width:0px;
  height:0px;
}
#u241_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u241_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:324px;
  width:100px;
  height:60px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:384px;
  width:0px;
  height:0px;
}
#u243_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u243_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:354px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u244_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:507px;
}
#u244_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:495px;
  width:34px;
  height:8px;
}
#u244_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:489px;
  width:20px;
  height:20px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:240px;
  width:100px;
  word-wrap:break-word;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:520px;
  width:100px;
  height:60px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:580px;
  width:0px;
  height:0px;
}
#u246_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u246_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
