body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:464px;
  width:373px;
  height:152px;
  font-size:14px;
}
#u819_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u819.selected {
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:291px;
  font-size:14px;
}
#u820_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u820.selected {
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:148px;
  width:74px;
  height:20px;
  font-size:14px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:148px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:178px;
  width:85px;
  height:20px;
  font-size:14px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:178px;
  width:59px;
  height:20px;
  font-size:14px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:233px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:233px;
  width:87px;
  height:20px;
  font-size:14px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:260px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:260px;
  width:43px;
  height:20px;
  font-size:14px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:122px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:16px;
  width:230px;
  height:122px;
  font-size:14px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:373px;
  height:152px;
  font-size:14px;
}
#u830_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u830.selected {
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:205px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:205px;
  width:43px;
  height:17px;
  font-size:14px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:315px;
  width:164px;
  height:20px;
  font-size:14px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:315px;
  width:17px;
  height:20px;
  font-size:14px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:346px;
  width:105px;
  height:20px;
  font-size:14px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:346px;
  width:15px;
  height:20px;
  font-size:14px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:376px;
  width:105px;
  height:20px;
  font-size:14px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:376px;
  width:105px;
  height:20px;
  font-size:14px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:407px;
  width:105px;
  height:20px;
  font-size:14px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:407px;
  width:105px;
  height:20px;
  font-size:14px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:471px;
  width:232px;
  height:29px;
  font-size:14px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:228px;
  word-wrap:break-word;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:532px;
  width:230px;
  height:35px;
  font-size:14px;
}
#u842_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u842.selected {
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:535px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:542px;
  width:113px;
  height:20px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:510px;
  width:43px;
  height:20px;
  color:#949494;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 183, 34, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:542px;
  width:46px;
  height:16px;
  font-size:14px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:570px;
  width:230px;
  height:35px;
  font-size:14px;
}
#u847_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u847.selected {
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:573px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:580px;
  width:113px;
  height:20px;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 183, 34, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:580px;
  width:46px;
  height:16px;
  font-size:14px;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
