body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:192px;
  width:74px;
  height:20px;
  font-size:14px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:192px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:222px;
  width:85px;
  height:20px;
  font-size:14px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:222px;
  width:59px;
  height:20px;
  font-size:14px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:277px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:277px;
  width:87px;
  height:20px;
  font-size:14px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:304px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:304px;
  width:43px;
  height:20px;
  font-size:14px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:122px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:60px;
  width:230px;
  height:122px;
  font-size:14px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:249px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:249px;
  width:43px;
  height:17px;
  font-size:14px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:359px;
  width:164px;
  height:20px;
  font-size:14px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:359px;
  width:17px;
  height:20px;
  font-size:14px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:390px;
  width:105px;
  height:20px;
  font-size:14px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:390px;
  width:15px;
  height:20px;
  font-size:14px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:420px;
  width:105px;
  height:20px;
  font-size:14px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:420px;
  width:105px;
  height:20px;
  font-size:14px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:451px;
  width:105px;
  height:20px;
  font-size:14px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:451px;
  width:105px;
  height:20px;
  font-size:14px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:493px;
  width:232px;
  height:29px;
  font-size:14px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:228px;
  word-wrap:break-word;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:554px;
  width:230px;
  height:35px;
  font-size:14px;
}
#u662_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u662.selected {
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:557px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:564px;
  width:113px;
  height:20px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:532px;
  width:43px;
  height:20px;
  color:#949494;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 183, 34, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:564px;
  width:46px;
  height:16px;
  font-size:14px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:592px;
  width:230px;
  height:35px;
  font-size:14px;
}
#u667_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u667.selected {
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:595px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:602px;
  width:113px;
  height:20px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 183, 34, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:602px;
  width:46px;
  height:16px;
  font-size:14px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:273px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
