body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:2156px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:2156px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
