body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:70px;
  width:100px;
  height:60px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:190px;
  width:100px;
  height:60px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:300px;
  width:100px;
  height:60px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:420px;
  width:100px;
  height:60px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:300px;
  width:100px;
  height:60px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:540px;
  width:100px;
  height:60px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:540px;
  width:100px;
  height:60px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:650px;
  width:100px;
  height:60px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:760px;
  width:100px;
  height:60px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:890px;
  width:100px;
  height:60px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1010px;
  width:100px;
  height:60px;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:130px;
  width:0px;
  height:0px;
}
#u430_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u430_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:250px;
  width:0px;
  height:0px;
}
#u431_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u431_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:330px;
  width:0px;
  height:0px;
}
#u432_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u432_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-10px;
  width:20px;
  height:20px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:360px;
  width:0px;
  height:0px;
}
#u433_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u433_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:480px;
  width:0px;
  height:0px;
}
#u434_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u434_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:570px;
  width:0px;
  height:0px;
}
#u435_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u435_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:600px;
  width:0px;
  height:0px;
}
#u436_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u436_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:710px;
  width:0px;
  height:0px;
}
#u437_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u437_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:820px;
  width:0px;
  height:0px;
}
#u438_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u438_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:950px;
  width:0px;
  height:0px;
}
#u439_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u439_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:369px;
  height:20px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:20px;
  width:365px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
