body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:722px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:70px;
  width:100px;
  height:60px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:190px;
  width:100px;
  height:60px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:300px;
  width:100px;
  height:60px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:420px;
  width:100px;
  height:60px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:300px;
  width:100px;
  height:60px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:540px;
  width:100px;
  height:60px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:540px;
  width:100px;
  height:60px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:650px;
  width:100px;
  height:60px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:760px;
  width:100px;
  height:60px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:890px;
  width:100px;
  height:60px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1010px;
  width:100px;
  height:60px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:130px;
  width:0px;
  height:0px;
}
#u475_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u475_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:250px;
  width:0px;
  height:0px;
}
#u476_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u476_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:330px;
  width:0px;
  height:0px;
}
#u477_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:58px;
  height:8px;
}
#u477_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:360px;
  width:0px;
  height:0px;
}
#u478_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u478_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:480px;
  width:0px;
  height:0px;
}
#u479_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u479_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:570px;
  width:0px;
  height:0px;
}
#u480_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:58px;
  height:8px;
}
#u480_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:600px;
  width:0px;
  height:0px;
}
#u481_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u481_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:710px;
  width:0px;
  height:0px;
}
#u482_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u482_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:820px;
  width:0px;
  height:0px;
}
#u483_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u483_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:950px;
  width:0px;
  height:0px;
}
#u484_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u484_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:540px;
  width:100px;
  height:60px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:650px;
  width:100px;
  height:60px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:101px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:760px;
  width:100px;
  height:95px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:101px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:901px;
  width:100px;
  height:95px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  word-wrap:break-word;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:570px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u489_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:176px;
  height:8px;
}
#u489_seg1 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-10px;
  width:20px;
  height:20px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u490_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u490_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:710px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u491_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u491_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:855px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u492_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u492_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:996px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u493_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u493_seg1 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:40px;
  width:226px;
  height:8px;
}
#u493_seg2 {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:34px;
  width:20px;
  height:20px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:650px;
  width:100px;
  height:60px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:680px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u495_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:42px;
  height:8px;
}
#u495_seg1 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
