body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:722px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:70px;
  width:100px;
  height:60px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:190px;
  width:100px;
  height:60px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:300px;
  width:100px;
  height:60px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:420px;
  width:100px;
  height:60px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:300px;
  width:100px;
  height:60px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:540px;
  width:100px;
  height:60px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:540px;
  width:100px;
  height:60px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:650px;
  width:100px;
  height:60px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:760px;
  width:100px;
  height:60px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:890px;
  width:100px;
  height:60px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1010px;
  width:100px;
  height:60px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:130px;
  width:0px;
  height:0px;
}
#u491_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u491_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:250px;
  width:0px;
  height:0px;
}
#u492_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u492_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:330px;
  width:0px;
  height:0px;
}
#u493_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:58px;
  height:8px;
}
#u493_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:360px;
  width:0px;
  height:0px;
}
#u494_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u494_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:480px;
  width:0px;
  height:0px;
}
#u495_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u495_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:570px;
  width:0px;
  height:0px;
}
#u496_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:58px;
  height:8px;
}
#u496_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:600px;
  width:0px;
  height:0px;
}
#u497_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u497_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:710px;
  width:0px;
  height:0px;
}
#u498_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u498_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:820px;
  width:0px;
  height:0px;
}
#u499_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u499_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:950px;
  width:0px;
  height:0px;
}
#u500_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u500_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:540px;
  width:100px;
  height:60px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:650px;
  width:100px;
  height:60px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:101px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:760px;
  width:100px;
  height:95px;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:101px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:901px;
  width:100px;
  height:95px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  word-wrap:break-word;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:570px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u505_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:176px;
  height:8px;
}
#u505_seg1 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-10px;
  width:20px;
  height:20px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u506_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u506_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:710px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u507_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u507_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:855px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u508_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u508_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:996px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u509_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u509_seg1 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:40px;
  width:226px;
  height:8px;
}
#u509_seg2 {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:34px;
  width:20px;
  height:20px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:650px;
  width:100px;
  height:60px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:680px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u511_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:42px;
  height:8px;
}
#u511_seg1 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
