body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:33px;
  width:375px;
  height:645px;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:33px;
  width:373px;
  height:48px;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:33px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:23px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:40px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:103px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u568_img.selected {
}
#u568.selected {
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:117px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:111px;
  width:258px;
  height:29px;
}
#u570_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u570_input {
  color:#000000;
}
#u570_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:264px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:150px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u571_img.selected {
}
#u571.selected {
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:47px;
  height:20px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:164px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:158px;
  width:158px;
  height:29px;
}
#u573_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u573_input {
  color:#000000;
}
#u573_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:164px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:299px;
  height:20px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:81px;
  width:295px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:358px;
  height:46px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:234px;
  width:352px;
  height:40px;
  font-size:14px;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:348px;
  word-wrap:break-word;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:27px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:162px;
  width:77px;
  height:23px;
  font-size:14px;
  text-align:center;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:33px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:688px;
  width:57px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:33px;
  width:375px;
  height:645px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:33px;
  width:373px;
  height:48px;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:33px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:10px;
  width:375px;
  height:23px;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:40px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:103px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u585_img.selected {
}
#u585.selected {
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:117px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:111px;
  width:258px;
  height:29px;
}
#u587_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u587_input {
  color:#000000;
}
#u587_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:264px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:150px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u588_img.selected {
}
#u588.selected {
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:47px;
  height:20px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:164px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:158px;
  width:158px;
  height:29px;
}
#u590_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u590_input {
  color:#000000;
}
#u590_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:164px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:299px;
  height:20px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:81px;
  width:295px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:358px;
  height:46px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:234px;
  width:352px;
  height:40px;
  font-size:14px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:348px;
  word-wrap:break-word;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:27px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:162px;
  width:77px;
  height:23px;
  font-size:14px;
  text-align:center;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:33px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:173px;
  height:20px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:206px;
  width:169px;
  height:16px;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:688px;
  width:57px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:33px;
  width:375px;
  height:645px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:33px;
  width:373px;
  height:48px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:33px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:10px;
  width:375px;
  height:23px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:40px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:103px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u603_img.selected {
}
#u603.selected {
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:117px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:111px;
  width:258px;
  height:29px;
}
#u605_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u605_input {
  color:#000000;
}
#u605_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:264px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:150px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u606_img.selected {
}
#u606.selected {
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:47px;
  height:20px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:164px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:158px;
  width:158px;
  height:29px;
}
#u608_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u608_input {
  color:#000000;
}
#u608_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:164px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:299px;
  height:20px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:81px;
  width:295px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:358px;
  height:46px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:234px;
  width:352px;
  height:40px;
  font-size:14px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:348px;
  word-wrap:break-word;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:27px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:162px;
  width:77px;
  height:23px;
  font-size:14px;
  text-align:center;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:33px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:173px;
  height:20px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:206px;
  width:169px;
  height:16px;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:688px;
  width:57px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:378px;
  height:649px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:33px;
  width:374px;
  height:645px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:227px;
  height:69px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:284px;
  width:221px;
  height:63px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:217px;
  word-wrap:break-word;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:206px;
  height:20px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:754px;
  width:202px;
  height:16px;
  font-size:14px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:187px;
  height:20px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:807px;
  width:183px;
  height:16px;
  font-size:14px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:159px;
  height:84px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:914px;
  width:155px;
  height:80px;
  font-size:14px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:254px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u620_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u620_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-4px;
  width:8px;
  height:39px;
}
#u620_seg2 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:27px;
  width:15px;
  height:8px;
}
#u620_seg3 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:21px;
  width:20px;
  height:20px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:254px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u621_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u621_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-4px;
  width:8px;
  height:92px;
}
#u621_seg2 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:80px;
  width:15px;
  height:8px;
}
#u621_seg3 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:74px;
  width:20px;
  height:20px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:20px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:861px;
  width:147px;
  height:16px;
  font-size:14px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:164px;
  height:20px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:727px;
  width:160px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
