body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:30px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:93px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u514_img.selected {
}
#u514.selected {
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:107px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:101px;
  width:258px;
  height:29px;
}
#u516_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u516_input {
  color:#000000;
}
#u516_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:264px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:140px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u517_img.selected {
}
#u517.selected {
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:47px;
  height:20px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:154px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:148px;
  width:158px;
  height:29px;
}
#u519_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u519_input {
  color:#000000;
}
#u519_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:164px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u520_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:299px;
  height:20px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:71px;
  width:295px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u520_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:358px;
  height:46px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:198px;
  width:352px;
  height:40px;
  font-size:14px;
}
#u521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:348px;
  word-wrap:break-word;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:27px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:152px;
  width:77px;
  height:23px;
  font-size:14px;
  text-align:center;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u523_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
