body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:33px;
  width:375px;
  height:645px;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:33px;
  width:373px;
  height:48px;
}
#u546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:33px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:23px;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:40px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:103px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u550_img.selected {
}
#u550.selected {
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:117px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:111px;
  width:258px;
  height:29px;
}
#u552_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u552_input {
  color:#000000;
}
#u552_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:264px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:150px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u553_img.selected {
}
#u553.selected {
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:47px;
  height:20px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:164px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:158px;
  width:158px;
  height:29px;
}
#u555_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u555_input {
  color:#000000;
}
#u555_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:164px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:299px;
  height:20px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:81px;
  width:295px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:358px;
  height:46px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:234px;
  width:352px;
  height:40px;
  font-size:14px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:348px;
  word-wrap:break-word;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:27px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:162px;
  width:77px;
  height:23px;
  font-size:14px;
  text-align:center;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:33px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:688px;
  width:57px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:33px;
  width:375px;
  height:645px;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:33px;
  width:373px;
  height:48px;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:33px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:10px;
  width:375px;
  height:23px;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:40px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:103px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u567_img.selected {
}
#u567.selected {
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:117px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:111px;
  width:258px;
  height:29px;
}
#u569_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u569_input {
  color:#000000;
}
#u569_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:264px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:150px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u570_img.selected {
}
#u570.selected {
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:47px;
  height:20px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:164px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:158px;
  width:158px;
  height:29px;
}
#u572_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u572_input {
  color:#000000;
}
#u572_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:164px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:299px;
  height:20px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:81px;
  width:295px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:358px;
  height:46px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:234px;
  width:352px;
  height:40px;
  font-size:14px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:348px;
  word-wrap:break-word;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:27px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:162px;
  width:77px;
  height:23px;
  font-size:14px;
  text-align:center;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:33px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:173px;
  height:20px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:206px;
  width:169px;
  height:16px;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:688px;
  width:57px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:33px;
  width:375px;
  height:645px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:33px;
  width:373px;
  height:48px;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:33px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:10px;
  width:375px;
  height:23px;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:40px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:103px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u585_img.selected {
}
#u585.selected {
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:117px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:111px;
  width:258px;
  height:29px;
}
#u587_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u587_input {
  color:#000000;
}
#u587_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:264px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:150px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u588_img.selected {
}
#u588.selected {
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:47px;
  height:20px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:164px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:158px;
  width:158px;
  height:29px;
}
#u590_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u590_input {
  color:#000000;
}
#u590_image_sketch {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:164px;
  height:35px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:299px;
  height:20px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:81px;
  width:295px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:358px;
  height:46px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:234px;
  width:352px;
  height:40px;
  font-size:14px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:348px;
  word-wrap:break-word;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:27px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:162px;
  width:77px;
  height:23px;
  font-size:14px;
  text-align:center;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:33px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:173px;
  height:20px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:206px;
  width:169px;
  height:16px;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:688px;
  width:57px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:378px;
  height:649px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:33px;
  width:374px;
  height:645px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:227px;
  height:69px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:284px;
  width:221px;
  height:63px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:217px;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:206px;
  height:20px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:754px;
  width:202px;
  height:16px;
  font-size:14px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:187px;
  height:20px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:807px;
  width:183px;
  height:16px;
  font-size:14px;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:159px;
  height:84px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:914px;
  width:155px;
  height:80px;
  font-size:14px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:254px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u602_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u602_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-4px;
  width:8px;
  height:39px;
}
#u602_seg2 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:27px;
  width:15px;
  height:8px;
}
#u602_seg3 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:21px;
  width:20px;
  height:20px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:254px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u603_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u603_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-4px;
  width:8px;
  height:92px;
}
#u603_seg2 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:80px;
  width:15px;
  height:8px;
}
#u603_seg3 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:74px;
  width:20px;
  height:20px;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:20px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:861px;
  width:147px;
  height:16px;
  font-size:14px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:164px;
  height:20px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:727px;
  width:160px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
