body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:35px;
  width:120px;
  height:200px;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u64_ref {
  border-width:0px;
  position:absolute;
  left:802px;
  top:225px;
  width:1px;
  height:1px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:327px;
  width:120px;
  height:200px;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u65_ref {
  border-width:0px;
  position:absolute;
  left:136px;
  top:517px;
  width:1px;
  height:1px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:327px;
  width:120px;
  height:200px;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u66_ref {
  border-width:0px;
  position:absolute;
  left:766px;
  top:517px;
  width:1px;
  height:1px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:327px;
  width:120px;
  height:200px;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u67_ref {
  border-width:0px;
  position:absolute;
  left:967px;
  top:517px;
  width:1px;
  height:1px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:585px;
  width:120px;
  height:200px;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u68_ref {
  border-width:0px;
  position:absolute;
  left:136px;
  top:775px;
  width:1px;
  height:1px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:843px;
  width:120px;
  height:200px;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u69_ref {
  border-width:0px;
  position:absolute;
  left:136px;
  top:1033px;
  width:1px;
  height:1px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1088px;
  width:120px;
  height:200px;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u70_ref {
  border-width:0px;
  position:absolute;
  left:136px;
  top:1278px;
  width:1px;
  height:1px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:235px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u71_seg1 {
  border-width:0px;
  position:absolute;
  left:-670px;
  top:71px;
  width:674px;
  height:8px;
}
#u71_seg2 {
  border-width:0px;
  position:absolute;
  left:-670px;
  top:71px;
  width:8px;
  height:21px;
}
#u71_seg3 {
  border-width:0px;
  position:absolute;
  left:-676px;
  top:77px;
  width:20px;
  height:20px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:-354px;
  top:67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:527px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u72_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u72_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:785px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u73_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u73_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1043px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u74_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u74_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:235px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u75_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u75_seg1 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:71px;
  width:44px;
  height:8px;
}
#u75_seg2 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:71px;
  width:8px;
  height:21px;
}
#u75_seg3 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:77px;
  width:20px;
  height:20px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:235px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u76_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u76_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:71px;
  width:173px;
  height:8px;
}
#u76_seg2 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:71px;
  width:8px;
  height:21px;
}
#u76_seg3 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:77px;
  width:20px;
  height:20px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:585px;
  width:120px;
  height:200px;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u77_ref {
  border-width:0px;
  position:absolute;
  left:352px;
  top:775px;
  width:1px;
  height:1px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:585px;
  width:120px;
  height:200px;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u78_ref {
  border-width:0px;
  position:absolute;
  left:671px;
  top:775px;
  width:1px;
  height:1px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:585px;
  width:120px;
  height:200px;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u79_ref {
  border-width:0px;
  position:absolute;
  left:922px;
  top:775px;
  width:1px;
  height:1px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:427px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u80_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-10px;
  width:20px;
  height:20px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:527px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u81_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u81_seg1 {
  border-width:0px;
  position:absolute;
  left:-418px;
  top:39px;
  width:422px;
  height:8px;
}
#u81_seg2 {
  border-width:0px;
  position:absolute;
  left:-418px;
  top:39px;
  width:8px;
  height:19px;
}
#u81_seg3 {
  border-width:0px;
  position:absolute;
  left:-424px;
  top:43px;
  width:20px;
  height:20px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:-243px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:527px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:39px;
  width:103px;
  height:8px;
}
#u82_seg2 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:39px;
  width:8px;
  height:19px;
}
#u82_seg3 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:43px;
  width:20px;
  height:20px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:527px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u83_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u83_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:39px;
  width:164px;
  height:8px;
}
#u83_seg2 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:39px;
  width:8px;
  height:19px;
}
#u83_seg3 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:43px;
  width:20px;
  height:20px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:843px;
  width:120px;
  height:200px;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u84_ref {
  border-width:0px;
  position:absolute;
  left:301px;
  top:1033px;
  width:1px;
  height:1px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:843px;
  width:120px;
  height:200px;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:206px;
}
#u85_ref {
  border-width:0px;
  position:absolute;
  left:452px;
  top:1033px;
  width:1px;
  height:1px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:785px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:41px;
  width:59px;
  height:8px;
}
#u86_seg2 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:41px;
  width:8px;
  height:17px;
}
#u86_seg3 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:43px;
  width:20px;
  height:20px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:785px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u87_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u87_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:41px;
  width:108px;
  height:8px;
}
#u87_seg2 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:41px;
  width:8px;
  height:17px;
}
#u87_seg3 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:43px;
  width:20px;
  height:20px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
