body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:273px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u1149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u1150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u1150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:592px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.929411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:592px;
  font-size:14px;
}
#u1152_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1152.selected {
}
#u1152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:298px;
  width:300px;
  height:170px;
  font-size:14px;
}
#u1154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:307px;
  width:57px;
  height:17px;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u1155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:center;
  line-height:16px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:298px;
  width:36px;
  height:37px;
  font-size:14px;
  color:#000000;
  text-align:center;
  line-height:16px;
}
#u1156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:334px;
  width:300px;
  height:1px;
}
#u1157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:356px;
  width:266px;
  height:54px;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u1158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u1159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:420px;
  width:90px;
  height:30px;
}
#u1159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u1160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:420px;
  width:90px;
  height:30px;
}
#u1160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
