body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1007px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:630px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:630px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1117px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:630px;
  width:700px;
  height:1117px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:369px;
  height:20px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1776px;
  width:365px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:704px;
  height:74px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1810px;
  width:700px;
  height:70px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
