body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1107px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:630px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1007px;
  height:630px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1117px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:730px;
  width:700px;
  height:1117px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1876px;
  width:401px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1910px;
  width:700px;
  height:70px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
