body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:273px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:60px;
  width:361px;
  height:165px;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
  font-size:14px;
}
#u1347_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:0px;
  width:98px;
  height:36px;
  font-size:14px;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:0px;
  width:91px;
  height:36px;
  font-size:14px;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u1350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:85px;
  height:36px;
  font-size:14px;
}
#u1350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:44px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:87px;
  height:44px;
  font-size:14px;
  text-align:right;
}
#u1351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:44px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:36px;
  width:98px;
  height:44px;
  font-size:14px;
}
#u1352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:36px;
  width:91px;
  height:44px;
  font-size:14px;
}
#u1353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:44px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:36px;
  width:85px;
  height:44px;
  font-size:14px;
}
#u1354_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:44px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:87px;
  height:44px;
  font-size:14px;
  text-align:right;
}
#u1355_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:44px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:80px;
  width:98px;
  height:44px;
  font-size:14px;
}
#u1356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:80px;
  width:91px;
  height:44px;
  font-size:14px;
}
#u1357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:44px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:80px;
  width:85px;
  height:44px;
  font-size:14px;
}
#u1358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:87px;
  height:41px;
  font-size:14px;
}
#u1359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:41px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:124px;
  width:98px;
  height:41px;
  font-size:14px;
}
#u1360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:124px;
  width:91px;
  height:41px;
  font-size:14px;
}
#u1361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:124px;
  width:85px;
  height:41px;
  font-size:14px;
}
#u1362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u1363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u1364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:106px;
  width:17px;
  height:15px;
  font-size:14px;
  color:#BCBCBC;
}
#u1364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  word-wrap:break-word;
}
#u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:142px;
  width:17px;
  height:15px;
  font-size:14px;
  color:#BCBCBC;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  word-wrap:break-word;
}
#u1366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:123px;
  width:303px;
  height:12px;
  font-size:14px;
}
#u1366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:193px;
  width:272px;
  height:137px;
  font-size:14px;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:101px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:1px;
  height:100px;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
