body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(53, 32, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:273px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:60px;
  width:361px;
  height:165px;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
  font-size:14px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:0px;
  width:98px;
  height:36px;
  font-size:14px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:0px;
  width:91px;
  height:36px;
  font-size:14px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:85px;
  height:36px;
  font-size:14px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:44px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:87px;
  height:44px;
  font-size:14px;
  text-align:right;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:44px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:36px;
  width:98px;
  height:44px;
  font-size:14px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:36px;
  width:91px;
  height:44px;
  font-size:14px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:44px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:36px;
  width:85px;
  height:44px;
  font-size:14px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:44px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:87px;
  height:44px;
  font-size:14px;
  text-align:right;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:44px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:80px;
  width:98px;
  height:44px;
  font-size:14px;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:80px;
  width:91px;
  height:44px;
  font-size:14px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:44px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:80px;
  width:85px;
  height:44px;
  font-size:14px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:41px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:87px;
  height:41px;
  font-size:14px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:41px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:124px;
  width:98px;
  height:41px;
  font-size:14px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:124px;
  width:91px;
  height:41px;
  font-size:14px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:124px;
  width:85px;
  height:41px;
  font-size:14px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:106px;
  width:17px;
  height:15px;
  font-size:14px;
  color:#BCBCBC;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  word-wrap:break-word;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:142px;
  width:17px;
  height:15px;
  font-size:14px;
  color:#BCBCBC;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  word-wrap:break-word;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:123px;
  width:303px;
  height:12px;
  font-size:14px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:193px;
  width:272px;
  height:137px;
  font-size:14px;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1568px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:1px;
  height:1567px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
