body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:0px;
  width:273px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:355px;
  height:152px;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
  font-size:14px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:0px;
  width:156px;
  height:36px;
  font-size:14px;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:63px;
  height:36px;
  font-size:14px;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:36px;
  width:156px;
  height:36px;
  font-size:14px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:36px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:44px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:63px;
  height:44px;
  font-size:14px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:44px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:72px;
  width:156px;
  height:44px;
  font-size:14px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:44px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:72px;
  width:136px;
  height:44px;
  font-size:14px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:63px;
  height:36px;
  font-size:14px;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:116px;
  width:156px;
  height:36px;
  font-size:14px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:116px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:123px;
  width:231px;
  height:12px;
  font-size:14px;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:101px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:1px;
  height:100px;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
