body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:651px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:50px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(53, 32, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:0px;
  width:273px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:355px;
  height:144px;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
  font-size:14px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:0px;
  width:156px;
  height:36px;
  font-size:14px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:63px;
  height:36px;
  font-size:14px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:36px;
  width:156px;
  height:36px;
  font-size:14px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:36px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:63px;
  height:36px;
  font-size:14px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:72px;
  width:156px;
  height:36px;
  font-size:14px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:72px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:132px;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:63px;
  height:36px;
  font-size:14px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:108px;
  width:156px;
  height:36px;
  font-size:14px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:108px;
  width:136px;
  height:36px;
  font-size:14px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:123px;
  width:231px;
  height:12px;
  font-size:14px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
