body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:335px;
  width:373px;
  height:189px;
}
#u1196_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196.selected {
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:273px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:269px;
  word-wrap:break-word;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:73px;
  width:373px;
  height:252px;
}
#u1198_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198.selected {
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:277px;
  width:74px;
  height:20px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:277px;
  width:71px;
  height:20px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:343px;
  width:71px;
  height:20px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:343px;
  width:57px;
  height:20px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:371px;
  width:71px;
  height:20px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:371px;
  width:135px;
  height:20px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:305px;
  width:85px;
  height:20px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:421px;
  width:71px;
  height:20px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:421px;
  width:57px;
  height:20px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:248px;
  width:66px;
  height:19px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:472px;
  width:57px;
  height:20px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:472px;
  width:161px;
  height:20px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:305px;
  width:59px;
  height:20px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:446px;
  width:43px;
  height:20px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:447px;
  width:83px;
  height:20px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:397px;
  width:71px;
  height:20px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:397px;
  width:43px;
  height:20px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:71px;
  width:219px;
  height:256px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:248px;
  width:108px;
  height:16px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:121px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:94px;
  width:245px;
  height:121px;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:241px;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:101px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:1px;
  height:100px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
