body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:685px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u1083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u1084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1085_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u1086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:171px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:335px;
  width:373px;
  height:167px;
}
#u1087_img.selected {
}
#u1087.selected {
}
#u1087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:30px;
  width:230px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u1088_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:256px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:73px;
  width:373px;
  height:252px;
}
#u1089_img.selected {
}
#u1089.selected {
}
#u1089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:20px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:277px;
  width:70px;
  height:16px;
}
#u1090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:20px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:277px;
  width:66px;
  height:16px;
}
#u1091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:20px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:343px;
  width:66px;
  height:16px;
}
#u1092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:57px;
  height:20px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:343px;
  width:53px;
  height:16px;
}
#u1093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:20px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:371px;
  width:66px;
  height:16px;
}
#u1094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:123px;
  height:20px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:371px;
  width:119px;
  height:16px;
}
#u1095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:20px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:305px;
  width:79px;
  height:16px;
}
#u1096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:20px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:421px;
  width:66px;
  height:16px;
}
#u1097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:57px;
  height:20px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:421px;
  width:53px;
  height:16px;
}
#u1098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:20px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:248px;
  width:66px;
  height:16px;
}
#u1099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:57px;
  height:20px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:472px;
  width:53px;
  height:16px;
}
#u1100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1101_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:165px;
  height:20px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:472px;
  width:161px;
  height:16px;
}
#u1101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:20px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:305px;
  width:54px;
  height:16px;
}
#u1102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:44px;
  height:20px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:446px;
  width:40px;
  height:16px;
}
#u1104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:20px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:447px;
  width:77px;
  height:16px;
}
#u1105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1106_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:20px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:397px;
  width:66px;
  height:16px;
}
#u1106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:44px;
  height:20px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:397px;
  width:40px;
  height:16px;
}
#u1107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:220px;
  height:260px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:249px;
  width:216px;
  height:256px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:107px;
  height:20px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:248px;
  width:103px;
  height:16px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1110_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:235px;
  height:127px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:94px;
  width:229px;
  height:121px;
}
#u1110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:225px;
  word-wrap:break-word;
}
