body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:15px;
  width:124px;
  height:74px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:163px;
  width:124px;
  height:74px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:298px;
  width:124px;
  height:74px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:446px;
  width:124px;
  height:74px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  word-wrap:break-word;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:298px;
  width:124px;
  height:74px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:593px;
  width:124px;
  height:74px;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  word-wrap:break-word;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:593px;
  width:124px;
  height:74px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  word-wrap:break-word;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:729px;
  width:124px;
  height:74px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:864px;
  width:124px;
  height:74px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:1024px;
  width:124px;
  height:74px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:1172px;
  width:124px;
  height:74px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:89px;
  width:0px;
  height:0px;
}
#u876_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u876_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:237px;
  width:0px;
  height:0px;
}
#u877_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u877_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:335px;
  width:0px;
  height:0px;
}
#u878_seg0 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-4px;
  width:70px;
  height:8px;
}
#u878_seg1 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:372px;
  width:0px;
  height:0px;
}
#u879_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u879_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:520px;
  width:0px;
  height:0px;
}
#u880_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u880_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:20px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:630px;
  width:0px;
  height:0px;
}
#u881_seg0 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-4px;
  width:70px;
  height:8px;
}
#u881_seg1 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:667px;
  width:0px;
  height:0px;
}
#u882_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u882_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:803px;
  width:0px;
  height:0px;
}
#u883_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u883_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:938px;
  width:0px;
  height:0px;
}
#u884_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u884_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:71px;
  width:20px;
  height:20px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:1098px;
  width:0px;
  height:0px;
}
#u885_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u885_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:593px;
  width:124px;
  height:74px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:729px;
  width:124px;
  height:74px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:117px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:864px;
  width:124px;
  height:117px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:120px;
  word-wrap:break-word;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:117px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:1038px;
  width:124px;
  height:117px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:120px;
  word-wrap:break-word;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:630px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u890_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:216px;
  height:8px;
}
#u890_seg1 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-10px;
  width:20px;
  height:20px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:667px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u891_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u891_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:803px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u892_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u892_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:981px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u893_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u893_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:1155px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u894_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u894_seg1 {
  border-width:0px;
  position:absolute;
  left:-274px;
  top:50px;
  width:278px;
  height:8px;
}
#u894_seg2 {
  border-width:0px;
  position:absolute;
  left:-279px;
  top:44px;
  width:20px;
  height:20px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:-160px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:729px;
  width:124px;
  height:74px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  word-wrap:break-word;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:766px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u896_seg0 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:-4px;
  width:50px;
  height:8px;
}
#u896_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-10px;
  width:20px;
  height:20px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
