body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:369px;
  width:896px;
  height:95px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:72px;
  height:36px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:78px;
  height:36px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:0px;
  width:72px;
  height:30px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:39px;
  height:36px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:0px;
  width:33px;
  height:30px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:731px;
  height:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:725px;
  height:30px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:721px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:72px;
  height:71px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:66px;
  height:65px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:78px;
  height:71px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:30px;
  width:72px;
  height:65px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:68px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:39px;
  height:71px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:30px;
  width:33px;
  height:65px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:29px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:731px;
  height:71px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:30px;
  width:725px;
  height:65px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:721px;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:900px;
  height:161px;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:64px;
  height:42px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:77px;
  height:42px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:0px;
  width:71px;
  height:36px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:42px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:0px;
  width:50px;
  height:36px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:727px;
  height:42px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:0px;
  width:721px;
  height:36px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:717px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:64px;
  height:42px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:58px;
  height:36px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:77px;
  height:42px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:36px;
  width:71px;
  height:36px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:42px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:36px;
  width:50px;
  height:36px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:727px;
  height:42px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:36px;
  width:721px;
  height:36px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:717px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:64px;
  height:58px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:58px;
  height:52px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:77px;
  height:58px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:72px;
  width:71px;
  height:52px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:58px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:72px;
  width:50px;
  height:52px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:727px;
  height:58px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:72px;
  width:721px;
  height:52px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:717px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:64px;
  height:43px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:58px;
  height:37px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:77px;
  height:43px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:124px;
  width:71px;
  height:37px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:43px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:124px;
  width:50px;
  height:37px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:727px;
  height:43px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:124px;
  width:721px;
  height:37px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:717px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:905px;
  height:8px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:898px;
  height:1px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:77px;
  height:26px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:336px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:77px;
  height:26px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
