body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:626px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:100px;
  width:100px;
  height:60px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:220px;
  width:100px;
  height:60px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:330px;
  width:100px;
  height:60px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:450px;
  width:100px;
  height:60px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:330px;
  width:100px;
  height:60px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:570px;
  width:100px;
  height:60px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:570px;
  width:100px;
  height:60px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:680px;
  width:100px;
  height:60px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:790px;
  width:100px;
  height:60px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:920px;
  width:100px;
  height:60px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:1040px;
  width:100px;
  height:60px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:160px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:280px;
  width:0px;
  height:0px;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u89_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:360px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:58px;
  height:8px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:390px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:510px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:600px;
  width:0px;
  height:0px;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:58px;
  height:8px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:630px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:740px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:850px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:980px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u97_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:570px;
  width:100px;
  height:60px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:680px;
  width:100px;
  height:60px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:101px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:790px;
  width:100px;
  height:95px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:101px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:931px;
  width:100px;
  height:95px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:176px;
  height:8px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-10px;
  width:20px;
  height:20px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:630px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:740px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:885px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u105_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u105_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:1026px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u106_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u106_seg1 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:40px;
  width:226px;
  height:8px;
}
#u106_seg2 {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:34px;
  width:20px;
  height:20px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:680px;
  width:100px;
  height:60px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:710px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u108_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:42px;
  height:8px;
}
#u108_seg1 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
