body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:427px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:874px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:874px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:128px;
  width:375px;
  height:642px;
  overflow:hidden;
}
#u67_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u67_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:657px;
}
#u68_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:657px;
  overflow:auto;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:104px;
  width:375px;
  height:25px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:112px;
  width:360px;
  height:11px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
