body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:30px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:369px;
  height:109px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:77px;
  width:365px;
  height:105px;
}
#u717_img.selected {
}
#u717.selected {
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:73px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:90px;
  width:116px;
  height:73px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:122px;
  height:20px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:90px;
  width:118px;
  height:16px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:90px;
  width:71px;
  height:16px;
  color:#0099CC;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:67px;
  height:18px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:148px;
  width:63px;
  height:14px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:59px;
  word-wrap:break-word;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:306px;
  height:21px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:713px;
  width:302px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  white-space:nowrap;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:21px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:678px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:23px;
  width:375px;
  height:645px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:23px;
  width:373px;
  height:48px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:0px;
  width:375px;
  height:23px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:30px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:369px;
  height:109px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:77px;
  width:365px;
  height:105px;
}
#u731_img.selected {
}
#u731.selected {
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:73px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:90px;
  width:116px;
  height:73px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:122px;
  height:20px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:90px;
  width:118px;
  height:16px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:90px;
  width:71px;
  height:16px;
  color:#0099CC;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:21px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:678px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:183px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:267px;
  width:274px;
  height:183px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:180px;
  height:20px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:147px;
  width:176px;
  height:16px;
  color:#999999;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:142px;
  height:21px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:740px;
  width:138px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:154px;
  height:21px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:713px;
  width:150px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:21px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:767px;
  width:210px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:325px;
  height:20px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:794px;
  width:321px;
  height:16px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:23px;
  width:375px;
  height:645px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:23px;
  width:373px;
  height:48px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:0px;
  width:375px;
  height:23px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:30px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:21px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:678px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:375px;
  height:598px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:73px;
  width:371px;
  height:594px;
}
#u750_img.selected {
}
#u750.selected {
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:142px;
  height:26px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:267px;
  width:138px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:163px;
  height:127px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:121px;
  width:157px;
  height:121px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:152px;
  height:32px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:335px;
  width:148px;
  height:28px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:144px;
  word-wrap:break-word;
}
