body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:834px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:30px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:369px;
  height:109px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:77px;
  width:365px;
  height:105px;
}
#u735_img.selected {
}
#u735.selected {
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:73px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:90px;
  width:116px;
  height:73px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:122px;
  height:20px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:90px;
  width:118px;
  height:16px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:90px;
  width:71px;
  height:16px;
  color:#0099CC;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:67px;
  height:18px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:148px;
  width:63px;
  height:14px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:59px;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:306px;
  height:21px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:713px;
  width:302px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  white-space:nowrap;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:21px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:678px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:23px;
  width:375px;
  height:645px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:23px;
  width:373px;
  height:48px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:0px;
  width:375px;
  height:23px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:30px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:369px;
  height:109px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:77px;
  width:365px;
  height:105px;
}
#u749_img.selected {
}
#u749.selected {
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:73px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:90px;
  width:116px;
  height:73px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:122px;
  height:20px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:90px;
  width:118px;
  height:16px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:90px;
  width:71px;
  height:16px;
  color:#0099CC;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:21px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:678px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:183px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:267px;
  width:274px;
  height:183px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:180px;
  height:20px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:147px;
  width:176px;
  height:16px;
  color:#999999;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:142px;
  height:21px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:740px;
  width:138px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:154px;
  height:21px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:713px;
  width:150px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:21px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:767px;
  width:210px;
  height:17px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:325px;
  height:20px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:794px;
  width:321px;
  height:16px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
