body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:904px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:30px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:369px;
  height:109px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:77px;
  width:365px;
  height:105px;
}
#u630_img.selected {
}
#u630.selected {
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:73px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:90px;
  width:116px;
  height:73px;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:122px;
  height:20px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:90px;
  width:118px;
  height:16px;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:90px;
  width:71px;
  height:16px;
  color:#0099CC;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:67px;
  height:18px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:148px;
  width:63px;
  height:14px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:59px;
  word-wrap:break-word;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:390px;
  height:5px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:178px;
  width:386px;
  height:1px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  white-space:nowrap;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:306px;
  height:5px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:145px;
  width:302px;
  height:1px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  white-space:nowrap;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:493px;
  height:125px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:219px;
  width:489px;
  height:121px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
