body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:273px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:50px;
  width:373px;
  height:100px;
  font-size:14px;
}
#u951_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u951.selected {
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:73px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:63px;
  width:119px;
  height:73px;
  font-size:14px;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:63px;
  width:127px;
  height:20px;
  font-size:14px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099CC;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:63px;
  width:73px;
  height:20px;
  font-size:14px;
  color:#0099CC;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u955 {
  position:absolute;
  left:144px;
  top:118px;
}
#u955_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background-image:none;
}
#u955_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 183, 34, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-size:14px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u955_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  visibility:hidden;
  background-image:none;
}
#u955_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:176px;
  width:234px;
  height:65px;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:120px;
  width:175px;
  height:17px;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:151px;
  width:373px;
  height:100px;
  font-size:14px;
}
#u960_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u960.selected {
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:73px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:164px;
  width:119px;
  height:73px;
  font-size:14px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:164px;
  width:127px;
  height:20px;
  font-size:14px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0099CC;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:164px;
  width:73px;
  height:20px;
  font-size:14px;
  color:#0099CC;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:221px;
  width:183px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:57px;
  width:314px;
  height:16px;
  font-size:14px;
  color:#000000;
  line-height:16px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:101px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:1px;
  height:100px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
