body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:271px;
  height:52px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:23px;
  width:267px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:263px;
  word-wrap:break-word;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u519_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:380px;
  height:601px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:73px;
  width:374px;
  height:595px;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:167px;
  height:26px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:99px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u520_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:20px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:142px;
  width:300px;
  height:16px;
}
#u521_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:20px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:176px;
  width:300px;
  height:16px;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u523_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:221px;
  height:22px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:202px;
  width:217px;
  height:18px;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u524_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:221px;
  height:22px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:230px;
  width:217px;
  height:18px;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u525_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:52px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:258px;
  width:300px;
  height:48px;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u526_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:144px;
  height:44px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:342px;
  width:140px;
  height:40px;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:544px;
  width:91px;
  height:52px;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:527px;
  width:71px;
  height:16px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:527px;
  width:57px;
  height:16px;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:527px;
  width:57px;
  height:16px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
