body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:652px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:27px;
  width:230px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:54px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:74px;
  width:373px;
  height:50px;
}
#u683_img.selected {
}
#u683.selected {
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:20px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:89px;
  width:79px;
  height:16px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:26px;
  height:20px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:89px;
  width:22px;
  height:16px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:54px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:128px;
  width:373px;
  height:50px;
}
#u686_img.selected {
}
#u686.selected {
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:57px;
  height:20px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:143px;
  width:53px;
  height:16px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:57px;
  height:16px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:145px;
  width:53px;
  height:12px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:331px;
  height:41px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:206px;
  width:327px;
  height:37px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:166px;
  height:20px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:271px;
  width:162px;
  height:16px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:309px;
  height:20px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:297px;
  width:305px;
  height:16px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:231px;
  height:16px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:145px;
  width:227px;
  height:12px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:16px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:91px;
  width:214px;
  height:12px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:186px;
  height:16px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:190px;
  width:182px;
  height:12px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:192px;
  height:16px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:227px;
  width:188px;
  height:12px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
