body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:652px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:27px;
  width:230px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:54px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:74px;
  width:373px;
  height:50px;
}
#u666_img.selected {
}
#u666.selected {
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:20px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:89px;
  width:79px;
  height:16px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:26px;
  height:20px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:89px;
  width:22px;
  height:16px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:54px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:128px;
  width:373px;
  height:50px;
}
#u669_img.selected {
}
#u669.selected {
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:57px;
  height:20px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:143px;
  width:53px;
  height:16px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:57px;
  height:16px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:145px;
  width:53px;
  height:12px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:331px;
  height:41px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:206px;
  width:327px;
  height:37px;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:166px;
  height:20px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:271px;
  width:162px;
  height:16px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:309px;
  height:20px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:297px;
  width:305px;
  height:16px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:231px;
  height:16px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:145px;
  width:227px;
  height:12px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:16px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:91px;
  width:214px;
  height:12px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:186px;
  height:16px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:190px;
  width:182px;
  height:12px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:192px;
  height:16px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:227px;
  width:188px;
  height:12px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
