body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:652px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:740px;
  width:375px;
  height:667px;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:27px;
  width:230px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:54px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:74px;
  width:373px;
  height:50px;
}
#u566_img.selected {
}
#u566.selected {
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:83px;
  height:20px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:89px;
  width:79px;
  height:16px;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:26px;
  height:20px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:89px;
  width:22px;
  height:16px;
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:54px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:128px;
  width:373px;
  height:50px;
}
#u569_img.selected {
}
#u569.selected {
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:57px;
  height:20px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:143px;
  width:53px;
  height:16px;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:57px;
  height:16px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:145px;
  width:53px;
  height:12px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:331px;
  height:41px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:206px;
  width:327px;
  height:37px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:166px;
  height:20px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:271px;
  width:162px;
  height:16px;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:309px;
  height:20px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:297px;
  width:305px;
  height:16px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:231px;
  height:16px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:145px;
  width:227px;
  height:12px;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:16px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:91px;
  width:214px;
  height:12px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
