body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:0px;
  width:273px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u1306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u1307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u1308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:373px;
  height:50px;
  font-size:14px;
}
#u1308_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1308.selected {
}
#u1308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:65px;
  width:85px;
  height:20px;
  font-size:14px;
}
#u1309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:64px;
  width:25px;
  height:20px;
  font-size:14px;
}
#u1310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:373px;
  height:50px;
  font-size:14px;
}
#u1311_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1311.selected {
}
#u1311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:119px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u1312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:120px;
  width:57px;
  height:12px;
  font-size:14px;
}
#u1313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 183, 34, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:206px;
  width:327px;
  height:37px;
  font-size:14px;
}
#u1314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:323px;
  word-wrap:break-word;
}
#u1315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:271px;
  width:175px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u1315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u1316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:297px;
  width:329px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  white-space:nowrap;
}
#u1317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:145px;
  width:245px;
  height:12px;
  font-size:14px;
}
#u1317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u1318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:91px;
  width:231px;
  height:12px;
  font-size:14px;
}
#u1318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:190px;
  width:197px;
  height:12px;
  font-size:14px;
}
#u1319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:227px;
  width:203px;
  height:12px;
  font-size:14px;
}
#u1320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:101px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:1px;
  height:100px;
}
#u1321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
