body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:100px;
  height:60px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:200px;
  width:100px;
  height:60px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:823px;
  width:100px;
  height:60px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:613px;
  width:100px;
  height:60px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:420px;
  width:100px;
  height:60px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:713px;
  width:100px;
  height:60px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:160px;
  width:0px;
  height:0px;
}
#u484_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u484_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:260px;
  width:0px;
  height:0px;
}
#u485_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u485_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:480px;
  width:0px;
  height:0px;
}
#u486_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u486_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:673px;
  width:0px;
  height:0px;
}
#u487_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u487_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:773px;
  width:0px;
  height:0px;
}
#u488_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u488_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:324px;
  width:100px;
  height:60px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:384px;
  width:0px;
  height:0px;
}
#u490_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u490_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:354px;
  width:0px;
  height:0px;
}
#u491_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u491_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:507px;
}
#u491_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:495px;
  width:34px;
  height:8px;
}
#u491_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:489px;
  width:20px;
  height:20px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:240px;
  width:100px;
  word-wrap:break-word;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:520px;
  width:100px;
  height:60px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:580px;
  width:0px;
  height:0px;
}
#u493_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u493_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
