body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:100px;
  height:60px;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:200px;
  width:100px;
  height:60px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:823px;
  width:100px;
  height:60px;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:613px;
  width:100px;
  height:60px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:420px;
  width:100px;
  height:60px;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:713px;
  width:100px;
  height:60px;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:160px;
  width:0px;
  height:0px;
}
#u535_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u535_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:260px;
  width:0px;
  height:0px;
}
#u536_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u536_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:480px;
  width:0px;
  height:0px;
}
#u537_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u537_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u537_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:673px;
  width:0px;
  height:0px;
}
#u538_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u538_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u538_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:773px;
  width:0px;
  height:0px;
}
#u539_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u539_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u539_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:324px;
  width:100px;
  height:60px;
}
#u540_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:384px;
  width:0px;
  height:0px;
}
#u541_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u541_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u541_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:354px;
  width:0px;
  height:0px;
}
#u542_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u542_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:507px;
}
#u542_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:495px;
  width:34px;
  height:8px;
}
#u542_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:489px;
  width:20px;
  height:20px;
}
#u542_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:240px;
  width:100px;
  word-wrap:break-word;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:520px;
  width:100px;
  height:60px;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:580px;
  width:0px;
  height:0px;
}
#u544_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u544_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u544_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
