body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:100px;
  height:60px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:213px;
  width:100px;
  height:60px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u267_ref {
  border-width:0px;
  position:absolute;
  left:192px;
  top:263px;
  width:1px;
  height:1px;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:338px;
  width:100px;
  height:60px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u268_ref {
  border-width:0px;
  position:absolute;
  left:192px;
  top:388px;
  width:1px;
  height:1px;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:450px;
  width:100px;
  height:60px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u269_ref {
  border-width:0px;
  position:absolute;
  left:192px;
  top:500px;
  width:1px;
  height:1px;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:597px;
  width:100px;
  height:60px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:710px;
  width:100px;
  height:60px;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:710px;
  width:100px;
  height:60px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:820px;
  width:100px;
  height:60px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u273_ref {
  border-width:0px;
  position:absolute;
  left:192px;
  top:870px;
  width:1px;
  height:1px;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1060px;
  width:100px;
  height:60px;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1160px;
  width:100px;
  height:60px;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:160px;
  width:0px;
  height:0px;
}
#u276_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u276_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:273px;
  width:0px;
  height:0px;
}
#u277_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u277_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:398px;
  width:0px;
  height:0px;
}
#u278_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u278_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:510px;
  width:0px;
  height:0px;
}
#u279_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u279_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:72px;
  width:20px;
  height:20px;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:657px;
  width:0px;
  height:0px;
}
#u280_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u280_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:770px;
  width:0px;
  height:0px;
}
#u281_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u281_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:740px;
  width:0px;
  height:0px;
}
#u282_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u282_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:880px;
  width:0px;
  height:0px;
}
#u283_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u283_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1120px;
  width:0px;
  height:0px;
}
#u284_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u284_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:950px;
  width:100px;
  height:60px;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u285_ref {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1000px;
  width:1px;
  height:1px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1010px;
  width:0px;
  height:0px;
}
#u286_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u286_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
