body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:70px;
  width:100px;
  height:60px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:183px;
  width:100px;
  height:60px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u250_ref {
  border-width:0px;
  position:absolute;
  left:442px;
  top:233px;
  width:1px;
  height:1px;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:308px;
  width:100px;
  height:60px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u251_ref {
  border-width:0px;
  position:absolute;
  left:442px;
  top:358px;
  width:1px;
  height:1px;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:420px;
  width:100px;
  height:60px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u252_ref {
  border-width:0px;
  position:absolute;
  left:442px;
  top:470px;
  width:1px;
  height:1px;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:567px;
  width:100px;
  height:60px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:680px;
  width:100px;
  height:60px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:680px;
  width:100px;
  height:60px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:790px;
  width:100px;
  height:60px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u256_ref {
  border-width:0px;
  position:absolute;
  left:442px;
  top:840px;
  width:1px;
  height:1px;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1030px;
  width:100px;
  height:60px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1130px;
  width:100px;
  height:60px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:130px;
  width:0px;
  height:0px;
}
#u259_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u259_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:243px;
  width:0px;
  height:0px;
}
#u260_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u260_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:368px;
  width:0px;
  height:0px;
}
#u261_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u261_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:480px;
  width:0px;
  height:0px;
}
#u262_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u262_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:72px;
  width:20px;
  height:20px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:627px;
  width:0px;
  height:0px;
}
#u263_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u263_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:740px;
  width:0px;
  height:0px;
}
#u264_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u264_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:710px;
  width:0px;
  height:0px;
}
#u265_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u265_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:850px;
  width:0px;
  height:0px;
}
#u266_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u266_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1090px;
  width:0px;
  height:0px;
}
#u267_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u267_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:920px;
  width:100px;
  height:60px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u268_ref {
  border-width:0px;
  position:absolute;
  left:442px;
  top:970px;
  width:1px;
  height:1px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:980px;
  width:0px;
  height:0px;
}
#u269_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u269_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
