body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:70px;
  width:100px;
  height:60px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:183px;
  width:100px;
  height:60px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u205_ref {
  border-width:0px;
  position:absolute;
  left:442px;
  top:233px;
  width:1px;
  height:1px;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:308px;
  width:100px;
  height:60px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u206_ref {
  border-width:0px;
  position:absolute;
  left:442px;
  top:358px;
  width:1px;
  height:1px;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:420px;
  width:100px;
  height:60px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u207_ref {
  border-width:0px;
  position:absolute;
  left:442px;
  top:470px;
  width:1px;
  height:1px;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:567px;
  width:100px;
  height:60px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:680px;
  width:100px;
  height:60px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:680px;
  width:100px;
  height:60px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:790px;
  width:100px;
  height:60px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u211_ref {
  border-width:0px;
  position:absolute;
  left:442px;
  top:840px;
  width:1px;
  height:1px;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1030px;
  width:100px;
  height:60px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1130px;
  width:100px;
  height:60px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:130px;
  width:0px;
  height:0px;
}
#u214_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u214_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:243px;
  width:0px;
  height:0px;
}
#u215_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u215_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:368px;
  width:0px;
  height:0px;
}
#u216_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u216_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:480px;
  width:0px;
  height:0px;
}
#u217_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u217_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:72px;
  width:20px;
  height:20px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:627px;
  width:0px;
  height:0px;
}
#u218_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u218_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:740px;
  width:0px;
  height:0px;
}
#u219_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u219_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:710px;
  width:0px;
  height:0px;
}
#u220_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u220_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:850px;
  width:0px;
  height:0px;
}
#u221_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u221_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1090px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u222_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:920px;
  width:100px;
  height:60px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u223_ref {
  border-width:0px;
  position:absolute;
  left:442px;
  top:970px;
  width:1px;
  height:1px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:980px;
  width:0px;
  height:0px;
}
#u224_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u224_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
