body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:100px;
  height:60px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:213px;
  width:100px;
  height:60px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u233_ref {
  border-width:0px;
  position:absolute;
  left:192px;
  top:263px;
  width:1px;
  height:1px;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:338px;
  width:100px;
  height:60px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u234_ref {
  border-width:0px;
  position:absolute;
  left:192px;
  top:388px;
  width:1px;
  height:1px;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:450px;
  width:100px;
  height:60px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u235_ref {
  border-width:0px;
  position:absolute;
  left:192px;
  top:500px;
  width:1px;
  height:1px;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:597px;
  width:100px;
  height:60px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:710px;
  width:100px;
  height:60px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:710px;
  width:100px;
  height:60px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:820px;
  width:100px;
  height:60px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u239_ref {
  border-width:0px;
  position:absolute;
  left:192px;
  top:870px;
  width:1px;
  height:1px;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1060px;
  width:100px;
  height:60px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1160px;
  width:100px;
  height:60px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:160px;
  width:0px;
  height:0px;
}
#u242_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u242_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:273px;
  width:0px;
  height:0px;
}
#u243_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u243_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:398px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u244_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:510px;
  width:0px;
  height:0px;
}
#u245_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u245_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:72px;
  width:20px;
  height:20px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:657px;
  width:0px;
  height:0px;
}
#u246_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u246_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:770px;
  width:0px;
  height:0px;
}
#u247_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u247_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:740px;
  width:0px;
  height:0px;
}
#u248_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u248_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:880px;
  width:0px;
  height:0px;
}
#u249_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u249_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1120px;
  width:0px;
  height:0px;
}
#u250_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u250_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:950px;
  width:100px;
  height:60px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u251_ref {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1000px;
  width:1px;
  height:1px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1010px;
  width:0px;
  height:0px;
}
#u252_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u252_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
