body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:121px;
  width:733px;
  height:285px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:36px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:130px;
  height:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:124px;
  height:30px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:489px;
  height:36px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:483px;
  height:30px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:479px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:36px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:126px;
  height:30px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:130px;
  height:36px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:30px;
  width:124px;
  height:30px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:489px;
  height:36px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:30px;
  width:483px;
  height:30px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:479px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:126px;
  height:30px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:130px;
  height:36px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:60px;
  width:124px;
  height:30px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:489px;
  height:36px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:60px;
  width:483px;
  height:30px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:479px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:71px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:126px;
  height:65px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:122px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:130px;
  height:71px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:90px;
  width:124px;
  height:65px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:120px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:489px;
  height:71px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:90px;
  width:483px;
  height:65px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:479px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:71px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:126px;
  height:65px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:122px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:130px;
  height:71px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:155px;
  width:124px;
  height:65px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:120px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:489px;
  height:71px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:155px;
  width:483px;
  height:65px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:479px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:71px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:126px;
  height:65px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:130px;
  height:71px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:220px;
  width:124px;
  height:65px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:489px;
  height:71px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:220px;
  width:483px;
  height:65px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
