body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:693px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:230px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:368px;
  height:118px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:77px;
  width:364px;
  height:114px;
}
#u1054_img.selected {
}
#u1054.selected {
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:51px;
  height:20px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:158px;
  width:47px;
  height:16px;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:161px;
  height:20px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:112px;
  width:157px;
  height:16px;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:20px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:112px;
  width:20px;
  height:16px;
  color:#0099CC;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:20px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:90px;
  width:66px;
  height:16px;
  color:#999999;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:95px;
  height:19px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:90px;
  width:91px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:191px;
  height:116px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:90px;
  width:187px;
  height:112px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:226px;
  height:20px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:250px;
  width:222px;
  height:16px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:368px;
  height:118px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:201px;
  width:364px;
  height:114px;
}
#u1063_img.selected {
}
#u1063.selected {
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:51px;
  height:20px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:282px;
  width:47px;
  height:16px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:161px;
  height:20px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:236px;
  width:157px;
  height:16px;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:20px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:236px;
  width:20px;
  height:16px;
  color:#0099CC;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:20px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:214px;
  width:66px;
  height:16px;
  color:#999999;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:95px;
  height:19px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:214px;
  width:91px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:368px;
  height:118px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:325px;
  width:364px;
  height:114px;
}
#u1069_img.selected {
}
#u1069.selected {
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:51px;
  height:20px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:406px;
  width:47px;
  height:16px;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:161px;
  height:20px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:360px;
  width:157px;
  height:16px;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:20px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:360px;
  width:20px;
  height:16px;
  color:#0099CC;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:20px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:338px;
  width:66px;
  height:16px;
  color:#999999;
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:95px;
  height:19px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:338px;
  width:91px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:120px;
  height:64px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:116px;
  width:114px;
  height:58px;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:110px;
  word-wrap:break-word;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:120px;
  height:64px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:239px;
  width:114px;
  height:58px;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:110px;
  word-wrap:break-word;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:120px;
  height:64px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:364px;
  width:114px;
  height:58px;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:110px;
  word-wrap:break-word;
}
