body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:50px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(53, 32, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:0px;
  width:273px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:269px;
  word-wrap:break-word;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:131px;
  width:51px;
  height:16px;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:50px;
  width:373px;
  height:114px;
}
#u971_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u971.selected {
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:85px;
  width:169px;
  height:20px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:86px;
  width:20px;
  height:20px;
  color:#0099CC;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:63px;
  width:71px;
  height:20px;
  color:#999999;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:63px;
  width:96px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:174px;
  width:373px;
  height:114px;
}
#u977_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u977.selected {
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:255px;
  width:51px;
  height:16px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:209px;
  width:169px;
  height:20px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:210px;
  width:20px;
  height:20px;
  color:#0099CC;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:187px;
  width:71px;
  height:20px;
  color:#999999;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:187px;
  width:96px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:298px;
  width:373px;
  height:114px;
}
#u983_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u983.selected {
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:379px;
  width:51px;
  height:16px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:333px;
  width:169px;
  height:20px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:334px;
  width:20px;
  height:20px;
  color:#0099CC;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:311px;
  width:71px;
  height:20px;
  color:#999999;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:311px;
  width:96px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:58px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:89px;
  width:117px;
  height:58px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:113px;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:58px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:212px;
  width:117px;
  height:58px;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:113px;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:58px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:337px;
  width:117px;
  height:58px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:113px;
  word-wrap:break-word;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:94px;
  width:192px;
  height:112px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:254px;
  width:222px;
  height:16px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
