body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(53, 32, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:0px;
  width:273px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:50px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u624_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u624.selected {
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:64px;
  width:344px;
  height:20px;
  font-size:14px;
  color:#1E1E1E;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:64px;
  width:81px;
  height:20px;
  font-size:14px;
  color:#666666;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
