body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u547_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:20px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:73px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u552_img.selected {
}
#u552.selected {
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:348px;
  height:20px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:87px;
  width:344px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:20px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:87px;
  width:77px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u555_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:596px;
  width:91px;
  height:52px;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:579px;
  width:71px;
  height:16px;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:579px;
  width:57px;
  height:16px;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:579px;
  width:57px;
  height:16px;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
