body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:20px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u534_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:73px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u534_img.selected {
}
#u534.selected {
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:348px;
  height:20px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:87px;
  width:344px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:20px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:87px;
  width:77px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u537_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u537_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:596px;
  width:91px;
  height:52px;
}
#u540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:579px;
  width:71px;
  height:16px;
}
#u541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u542_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:579px;
  width:57px;
  height:16px;
}
#u542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u543_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:579px;
  width:57px;
  height:16px;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
