body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:45px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:20px;
  width:230px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:50px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:73px;
  width:373px;
  height:46px;
  font-size:14px;
}
#u568_img.selected {
}
#u568.selected {
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:348px;
  height:20px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:87px;
  width:344px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:20px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:87px;
  width:77px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:596px;
  width:91px;
  height:52px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:579px;
  width:71px;
  height:16px;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:579px;
  width:57px;
  height:16px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:579px;
  width:57px;
  height:16px;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
