body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:685px;
  height:466px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:97px;
  width:679px;
  height:460px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:20px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:144px;
  width:359px;
  height:16px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:402px;
  height:20px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:197px;
  width:398px;
  height:16px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  white-space:nowrap;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:192px;
  height:20px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:248px;
  width:188px;
  height:16px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:144px;
  height:20px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:300px;
  width:140px;
  height:16px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
