body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:779px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:685px;
  height:466px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:679px;
  height:460px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:20px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:147px;
  width:359px;
  height:16px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:402px;
  height:20px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:200px;
  width:398px;
  height:16px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  white-space:nowrap;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:192px;
  height:20px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:251px;
  width:188px;
  height:16px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:144px;
  height:20px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:303px;
  width:140px;
  height:16px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
