body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:685px;
  height:466px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:97px;
  width:679px;
  height:460px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:20px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:144px;
  width:359px;
  height:16px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:402px;
  height:20px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:180px;
  width:398px;
  height:16px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  white-space:nowrap;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:192px;
  height:20px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:214px;
  width:188px;
  height:16px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:164px;
  height:20px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:248px;
  width:160px;
  height:16px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
