body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:707px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:1043px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:607px;
  height:1043px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:147px;
  width:363px;
  height:20px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  white-space:nowrap;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:200px;
  width:399px;
  height:20px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:251px;
  width:189px;
  height:20px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:303px;
  width:141px;
  height:20px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
