body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:0px;
  width:273px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:83px;
  width:40px;
  height:40px;
  color:#949494;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:83px;
  width:242px;
  height:86px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:83px;
  width:300px;
  height:240px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:95px;
  width:141px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:118px;
  width:158px;
  height:27px;
  font-size:12px;
  color:#999999;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:118px;
  width:40px;
  height:40px;
  color:#949494;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:92px;
  width:10px;
  height:15px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
