body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:762px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:651px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:645px;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:52px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:373px;
  height:48px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:52px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:23px;
  width:46px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:271px;
  height:52px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:23px;
  width:267px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:263px;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:52px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:23px;
  width:57px;
  height:48px;
  color:#FFFFFF;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:72px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:71px;
  width:373px;
  height:68px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:289px;
  height:36px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:90px;
  width:285px;
  height:32px;
  font-size:14px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:377px;
  height:245px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:149px;
  width:373px;
  height:241px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:152px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:159px;
  width:322px;
  height:152px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:213px;
  height:20px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:321px;
  width:209px;
  height:16px;
  text-align:center;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:70px;
  height:20px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:347px;
  width:66px;
  height:16px;
  text-align:center;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:105px;
  height:20px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:347px;
  width:101px;
  height:16px;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:328px;
  height:46px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:416px;
  width:322px;
  height:40px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:38px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:90px;
  width:27px;
  height:32px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:323px;
  height:20px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:248px;
  width:319px;
  height:16px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:218px;
  height:20px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:285px;
  width:214px;
  height:16px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
