body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:50px;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(53, 32, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:0px;
  width:273px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:269px;
  word-wrap:break-word;
}
#u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(10, 10, 10, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:71px;
  width:373px;
  height:68px;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:90px;
  width:285px;
  height:32px;
  font-size:14px;
  color:#666666;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:149px;
  width:373px;
  height:213px;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:152px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:159px;
  width:322px;
  height:152px;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:321px;
  width:305px;
  height:20px;
  text-align:center;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:384px;
  width:322px;
  height:40px;
  color:#FFFFFF;
  text-align:center;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:90px;
  width:27px;
  height:32px;
  font-size:12px;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  word-wrap:break-word;
}
#u935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:248px;
  width:351px;
  height:20px;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:285px;
  width:231px;
  height:20px;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
