body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:796px;
  height:104px;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:44px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:44px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:73px;
  height:44px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:73px;
  height:44px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:0px;
  width:60px;
  height:44px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:44px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:0px;
  width:66px;
  height:44px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:62px;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:0px;
  width:97px;
  height:44px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:44px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:0px;
  width:292px;
  height:44px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:135px;
  height:30px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:44px;
  width:73px;
  height:30px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:44px;
  width:73px;
  height:30px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:44px;
  width:60px;
  height:30px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:44px;
  width:66px;
  height:30px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:44px;
  width:97px;
  height:30px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:30px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:44px;
  width:292px;
  height:30px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:135px;
  height:30px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:74px;
  width:73px;
  height:30px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:74px;
  width:73px;
  height:30px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:74px;
  width:60px;
  height:30px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:74px;
  width:66px;
  height:30px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:74px;
  width:97px;
  height:30px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:30px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:74px;
  width:292px;
  height:30px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
