body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
  overflow:hidden;
}
#u72_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:657px;
}
#u73_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:657px;
  overflow:auto;
}
