body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:785px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:88px;
  width:25px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:88px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:118px;
  width:375px;
  height:1px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:190px;
  width:100px;
  height:100px;
  font-size:14px;
  color:#CCCCCC;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:320px;
  width:225px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:600px;
  width:290px;
  height:30px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:286px;
  word-wrap:break-word;
}
