body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:833px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:61px;
  width:796px;
  height:104px;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:44px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:44px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:73px;
  height:44px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:73px;
  height:44px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:0px;
  width:60px;
  height:44px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:44px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:0px;
  width:66px;
  height:44px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:62px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:0px;
  width:97px;
  height:44px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:44px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:0px;
  width:292px;
  height:44px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:135px;
  height:30px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:44px;
  width:73px;
  height:30px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:44px;
  width:73px;
  height:30px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:44px;
  width:60px;
  height:30px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:44px;
  width:66px;
  height:30px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:44px;
  width:97px;
  height:30px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:30px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:44px;
  width:292px;
  height:30px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:135px;
  height:30px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:74px;
  width:73px;
  height:30px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:74px;
  width:73px;
  height:30px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:74px;
  width:60px;
  height:30px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:74px;
  width:66px;
  height:30px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:74px;
  width:97px;
  height:30px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:30px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:74px;
  width:292px;
  height:30px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
