body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:945px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:166px;
  width:100px;
  height:60px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:33px;
  height:20px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:100px;
  width:29px;
  height:16px;
  text-align:center;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:40px;
  height:20px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:100px;
  width:36px;
  height:16px;
  text-align:center;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:290px;
  width:100px;
  height:60px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:410px;
  width:100px;
  height:60px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:529px;
  width:100px;
  height:60px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:529px;
  width:100px;
  height:60px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:627px;
  width:100px;
  height:60px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:736px;
  width:100px;
  height:60px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:829px;
  width:100px;
  height:60px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:928px;
  width:100px;
  height:60px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:928px;
  width:100px;
  height:60px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:1034px;
  width:100px;
  height:60px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:1139px;
  width:100px;
  height:60px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1034px;
  width:100px;
  height:60px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1139px;
  width:100px;
  height:60px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1246px;
  width:100px;
  height:60px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:1246px;
  width:100px;
  height:60px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:40px;
  height:20px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:100px;
  width:36px;
  height:16px;
  text-align:center;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:226px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:50px;
  width:10px;
  height:8px;
}
#u86_seg2 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:50px;
  width:8px;
  height:14px;
}
#u86_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:49px;
  width:20px;
  height:20px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:350px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u87_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u87_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:470px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:559px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:178px;
  height:8px;
}
#u89_seg1 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:-10px;
  width:20px;
  height:20px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:589px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:687px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:796px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:889px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:958px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-4px;
  width:178px;
  height:8px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:-10px;
  width:20px;
  height:20px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:988px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1064px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1094px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u97_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u97_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1094px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u98_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u98_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1199px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:27px;
  width:76px;
  height:8px;
}
#u99_seg2 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:27px;
  width:8px;
  height:20px;
}
#u99_seg3 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:32px;
  width:20px;
  height:20px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1199px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:27px;
  width:83px;
  height:8px;
}
#u100_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:27px;
  width:8px;
  height:20px;
}
#u100_seg3 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:32px;
  width:20px;
  height:20px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:8px;
  height:1484px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:100px;
  width:1px;
  height:1477px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:8px;
  height:1484px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:100px;
  width:1px;
  height:1477px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1246px;
  width:100px;
  height:60px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:1276px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-10px;
  width:20px;
  height:20px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1354px;
  width:100px;
  height:60px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:1306px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u106_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u106_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:1414px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u107_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u107_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1455px;
  width:100px;
  height:60px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1564px;
  width:100px;
  height:60px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:1515px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u110_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
