body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:988px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:200px;
  width:100px;
  height:60px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:33px;
  height:20px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:134px;
  width:29px;
  height:16px;
  text-align:center;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:40px;
  height:20px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:134px;
  width:36px;
  height:16px;
  text-align:center;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:324px;
  width:100px;
  height:60px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:444px;
  width:100px;
  height:60px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:563px;
  width:100px;
  height:60px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:563px;
  width:100px;
  height:60px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:661px;
  width:100px;
  height:60px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:770px;
  width:100px;
  height:60px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:863px;
  width:100px;
  height:60px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:962px;
  width:100px;
  height:60px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:962px;
  width:100px;
  height:60px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:1068px;
  width:100px;
  height:60px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:1173px;
  width:100px;
  height:60px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:1068px;
  width:100px;
  height:60px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:1173px;
  width:100px;
  height:60px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:1280px;
  width:100px;
  height:60px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:1280px;
  width:100px;
  height:60px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:40px;
  height:20px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:134px;
  width:36px;
  height:16px;
  text-align:center;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:260px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u68_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u68_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:46px;
  width:10px;
  height:8px;
}
#u68_seg2 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:46px;
  width:8px;
  height:18px;
}
#u68_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:49px;
  width:20px;
  height:20px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:384px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u69_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u69_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:504px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u70_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u70_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:593px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:178px;
  height:8px;
}
#u71_seg1 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:-10px;
  width:20px;
  height:20px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:623px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u72_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u72_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:721px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u73_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u73_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:830px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u74_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u74_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:923px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u75_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u75_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:992px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u76_seg0 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-4px;
  width:178px;
  height:8px;
}
#u76_seg1 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:-10px;
  width:20px;
  height:20px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1022px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u77_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u77_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:1098px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1128px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:1128px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u80_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:1233px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u81_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u81_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:33px;
  width:76px;
  height:8px;
}
#u81_seg2 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:33px;
  width:8px;
  height:14px;
}
#u81_seg3 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:32px;
  width:20px;
  height:20px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:1233px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:83px;
  height:8px;
}
#u82_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:33px;
  width:8px;
  height:14px;
}
#u82_seg3 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:32px;
  width:20px;
  height:20px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:8px;
  height:1484px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:134px;
  width:1px;
  height:1477px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:8px;
  height:1484px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:134px;
  width:1px;
  height:1477px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:1280px;
  width:100px;
  height:60px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:1310px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-10px;
  width:20px;
  height:20px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:1388px;
  width:100px;
  height:60px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:1340px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:1448px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u89_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:1489px;
  width:100px;
  height:60px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:1598px;
  width:100px;
  height:60px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:1549px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
